[package]
name = "lepupitre-asr"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[dependencies]
base64 = "0.21"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
whisper-rs = "0.15"
